%h1.text-center
  %i.fa.fa-newspaper-o.fa-fw
  %b Aktualności
  %i.fa.fa-newspaper-o.fa-fw
.row
  - if current_user.admin?
    = render "/entries/new_entry"
.row
  - if Entry.count == 0
    Nie ma żadnych aktualności
  - else
    - @entries.each do |e|
      .row
        .col-md-8.col-md-offset-2.entry
          .row  
            .col-md-4
              = image_tag e.thumbnail
            .col-md-8             
              .entry-title 
                %i.fa.fa-square.red-icon
                = e.title
              .entry-info
                autor:
                = current_user.email
                .pull-right
                  = e.created_at.strftime("%l:%M %d-%m-%Y")
              .entry-text
                = e.body
      - unless e == @entries.last
        = image_tag "separator.png", class: "center-block"