.row
  - if user_signed_in? && current_user.admin?
    = render "/entries/new_entry"
.row
  - if Entry.count == 0
    %h3.text-center
      Nie ma żadnych aktualności
  - else
    - @entries.each do |e|
      .row
        .col-md-8.col-md-offset-2.entry
          .row  
            .col-md-4
              = image_tag e.thumbnail
            .col-md-8             
              .entry-title 
                %i.fa.fa-square.red-icon
                = e.title
              .entry-info
                = t('.author') + ':'
                = e.user.login
                .pull-right
                  = e.created_at.strftime("%H:%M %d-%m-%Y")
              .entry-text
                = e.body
      - unless e == @entries.last
        = image_tag "divider.png", class: "center-block"