.voffset
  .col-md-3
    .sidebar
      .text-center
        %h2.sort{"data-sort": params[:sort]} Sortowanie
        = link_to 'data', videos_path(sort: "created_at"), id: 'created_at'
        %br
        = link_to 'ocena', videos_path(sort: "score"), id: 'score'
        %br
        = link_to 'wyświetlenia', videos_path(sort: "views"), id: 'views'
      .tags
        %h2.text-center Tagi
        - ActsAsTaggableOn::Tag.most_used(10).each do |tag|
          %h4.text-center
            = link_to tag.name, videos_path(tag: tag.name), class: 'tag'
  .col-md-8
    = render @videos
    .row
      .col-md-12
        .text-center
          .pagination
            = paginate @videos

