.voffset
  .col-md-3
    .sidebar
      .text-center
        %h2.type{"data-type": params[:type]} Typ
        .btn-group
          = link_to 'Triki', @params.merge(type: 1), class: 'btn btn-default active', id: '1'
          = link_to 'Prezentacje', @params.merge(type: 2), class: 'btn btn-default', id: '2'
        %h2.sort{"data-sort": params[:sort]} Sortowanie
        .btn-group
          = link_to 'data', @params.merge(sort: "created_at"), id: 'created_at', class: 'btn btn-default active'
          = link_to 'ocena', @params.merge(sort: "score"), id: 'score', class: 'btn btn-default'
          = link_to 'wyświetlenia', @params.merge(sort: "views"), id: 'views', class: 'btn btn-default'
      .tags
        %h2.text-center.tagg{"data-tag": params[:tag]} Tagi
        .text-center
          - ActsAsTaggableOn::Tag.most_used(20).each do |tag|
            = link_to tag.name, @params.merge(tag: tag.name), class: 'tag', id: "#{tag.name}-tag"
  .col-md-8
    = render @videos
    .row
      .col-md-12
        .text-center
          .pagination
            = paginate @videos

