.voffset
  .col-md-3
    .sidebar
      %h2.text-center Sortowanie
      .left
        Data:
        %br
        Ocena:
        %br
        Wyświetlenia:
        %br
      .right
        = link_to videos_path(date: "ASC") do
          %i.fa.fa-fw.fa-lg.fa-caret-square-o-up
        = link_to videos_path(date: "DESC") do
          %i.fa.fa-fw.fa-lg.fa-caret-square-o-down
        = link_to videos_path(rate: "ASC") do
          %i.fa.fa-fw.fa-lg.fa-caret-square-o-up
        = link_to videos_path(rate: "DESC") do
          %i.fa.fa-fw.fa-lg.fa-caret-square-o-down
        = link_to videos_path(views: "ASC") do
          %i.fa.fa-fw.fa-lg.fa-caret-square-o-up
        = link_to videos_path(views: "DESC") do
          %i.fa.fa-fw.fa-lg.fa-caret-square-o-down
      .tags
        %h2.text-center Tagi
        - ActsAsTaggableOn::Tag.most_used(10).each do |tag|
          %h4.text-center
            = link_to tag.name, videos_path(tag: tag.name), class: 'tag'
  .col-md-8
    = render @videos
    .row
      .col-md-12
        .text-center
          .pagination
            = paginate @videos

