.text-center.video-title 
  = @video.title
.text-center
  = video_tag @video.source_url.to_s, width: 640, controls: true, autobuffer: true, class: "red-border"
%br
.col-md-2.col-md-offset-3
  wrzucił:
  = @video.user.email
.col-md-2.text-center
  wyświetleń:
  = @video.impressionist_count
.col-md-1.text-right
  - if current_user
    - unless @video.average("overall").nil?
      = @video.average("overall").avg.round(1)
.col-md-2
  = rating_for @video, "overall", disable_after_rate: false
- if @video.description?
  %br
  %p.col-md-6.col-md-offset-3.video-description.well
    = @video.description

