.col-md-8.col-md-offset-2
  .owner-panel.text-center
    - if can? :update, @video
      = link_to edit_video_path(@video) do
        %i.fa.fa-edit
      = link_to @video, method: :delete, data: { confirm: "Are you sure" } do
        %i.fa.fa-trash-o
  .text-center.video-title 
    = @video.title
.text-center
  - if @video.source?
    = video_tag @video.source_url.to_s, width: 640, controls: true, autobuffer: true, class: "red-border"
  - if @video.remote?
    .col-md-6.col-md-offset-3
      .videoWrapper
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "https://www.youtube.com/embed/" + @video.remote, width: "560", class: "red-border"}
%br
.row
  .col-md-2.col-md-offset-3.text-center
    %i.fa.fa-upload.fa-lg
    %br
    = @video.user.login
  .col-md-2.text-center
    %i.fa.fa-eye.fa-lg
    %br
    = @video.views
  .col-md-2.text-center
    #score
      - unless user_signed_in?
        %i.fa.fa-star.fa-lg
        %br
      = @video.score.round(1)
    - if user_signed_in?
      #rate{:rated => @rate}
        .rating
          %span{"data-score" => "5"} ☆
          %span{"data-score" => "4"} ☆
          %span{"data-score" => "3"} ☆
          %span{"data-score" => "2"} ☆
          %span{"data-score" => "1"} ☆
.row
  .col-md-6.col-md-offset-3
    %h5.tags-line
      - @video.tags.each do |tag|      
        = link_to tag.name, videos_path(tag: tag.name), class: 'tag'        
- if @video.description?
  %p.col-md-6.col-md-offset-3.video-description.well
    = @video.description

.row
  .col-md-6.col-md-offset-3
    #comments
      - if @video.comments.exists?
        - @comments.each do |comment|
          - if comment.user == current_user
            = link_to comment, method: :delete, remote: true, class: 'comment-delete' do
              %i.fa.fa-times-circle-o
          .comment
            .comment-author
              = comment.user.login
            .pull-right
              = l comment.created_at
            .comment-body
              = comment.comment
          %br
- if user_signed_in?
  .row
    .col-md-6.col-md-offset-3      
      = simple_form_for @comment, url: add_comment_video_path, remote: true do |v|
        = v.input :comment, as: :text, label: t('.new_comment')
        = v.button :submit, value: t('.comment'), id: 'comment-button'
