.jumbotron
  .row
    .col-md-3
      = image_tag "lighter_graphic.png"
    .col-md-9
      %h1.text-center= t('.title')
      %p= t('.paragraph')
      

.row
  .well.col-md-2.col-md-offset-2.text-center
    = image_tag 'videos.png'
    %h3= t('nav.videos')
    %h4= @videoCounter
  .well.col-md-2.col-md-offset-1.text-center
    = image_tag 'images.png'
    %h3= t('nav.gallery')
    %h4= @imageCounter
  .well.col-md-2.col-md-offset-1.text-center
    = image_tag 'tutorials.png'
    %h3= t('nav.tutorials')
    %h4= @tutorialCounter
