- if user_signed_in? && current_user.admin?
  = render "images/new"

.text-center
  .type{"data-type": params[:type]}
    .btn-group
      = link_to 'Zdjęcia', images_path, class: 'btn btn-default active', id: 'photos'
      = link_to 'Grafika', images_path(type: 2), class: 'btn btn-default', id: 'graphics'

%nav#page-nav
  = link_to "NEXT", images_path(page: @page), style: 'display: none'

#masonry-container.transitions-enabled.centered.infinite-scroll.clearfix
  #images
    = render @images

