#login.modal.fade{:role => "dialog", :tabindex => "-1", "aria-labelledby" => "mySmallModalLabel", "aria-hidden" => "true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"} ×
        %h3.text-center Logowanie
      .modal-body
        - if notice
          %p.alert.alert-success= notice
        - if alert
          %p.alert.alert-danger= alert
        = simple_form_for(:user, :url => user_session_path) do |f|
          .inputs
            = f.input :email, :required => false, :autofocus => true
            = f.input :password, :required => false
            = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
            = f.button :submit, "Zaloguj", :class => 'btn btn-lg btn-success center-block'

:javascript
  $('#login').on('shown.bs.modal', function () {
    $('#user_email').focus()
  })
