#registration.modal.fade{:role => "dialog", :tabindex => "-1", "aria-labelledby" => "mySmallModalLabel", "aria-hidden" => "true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"} ×
        %h3.text-center Rejestracja
      .modal-body
        - if alert
          %p.alert.alert-danger= alert
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .inputs
            = f.input :email, autofocus: true, input_html: { id: 'reg_field' }
            = f.input :password
            = f.input :password_confirmation
            = f.button :submit, 'Zarejestruj', class: 'btn btn-success btn-lg center-block'
